hr {
  border: none;
  height: 1px;
  background-color: black;
  width: 80%;
  margin: auto;
}

header {
  height: 5rem;
  background-color: black;
  color: aliceblue;
}

nav {
  display: flex;
  justify-content: center;
}

nav a {
  padding-left: 2rem;
  padding-right: 1rem;
  text-decoration: none;
  color: aliceblue;
}

nav a:hover {
  color: #00d4ff;
}
