*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;
}

h2 {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 10px;
}

h3 {
  margin: 10px;
  padding-top: 10px;
}

hr {
  width: 90%;
  text-align: center;
}

p {
  margin: 10px;
  padding-bottom: 15px;
}

.rodape {
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, #020024 0%, #302c9b 43%, #00d4ff 100%);
  color: aliceblue;
  height: 8rem;
  position: relative;
  top: 9.65rem;
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.rodape h2 {
  font-size: 18px;
}

.rodape p {
  font-size: 22px;
  margin: 0;
  padding: 0;
}

.centralizar {
  text-align: center;
}
